<h1>StaticPages#about</h1>
<p>Welcome! The date and time is <%= Time.now %></p>
<p>This is going to be a app. I do not know what that app is going to be. Someone is telling me what to do and how to make it. I cannot divulge what I do not know.</p>
