<div id="bb-header" class="text-center">
	<div class="overlay">
    <div class="content">
				<h1>Welcome to Bikes Berlin</h1>
				<h2>Your source for used bikes in Berlin</h2>
		</div>
	</div>
</div>