
<div class="container">
	<br>
	<h1 class="section-title center">Edit Product</h1>
	<div class="lg-container">
		<%= render 'form' %>
	</div>
	<div class="container">
	<%= link_to 'Show', @product %> |
	<%= link_to 'Back', product_path %>
	<br>
</div>
</div>

