<div class="container">
	<h1 class="section-title center">Create New Product</h1>

	<div class="lg-container">
		<%= render 'form' %>
	</div>
	<div class="container">
	<%= link_to 'Back', products_path %>
	</div>
</div>